[submodule "llm/qwen_cpp/third_party/re2"]
	path = llm/qwen_cpp/third_party/re2
	url = https://github.com/google/re2.git
[submodule "llm/qwen_cpp/third_party/abseil-cpp"]
	path = llm/qwen_cpp/third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "thirdparty/openvino_tokenizers"]
    path = thirdparty/openvino_tokenizers
    url = https://github.com/openvinotoolkit/openvino_tokenizers.git
