--extra-index-url https://download.pytorch.org/whl/cpu
numpy
tokenizers==0.19.0
transformers==4.44
--extra-index-url https://storage.openvinotoolkit.org/simple/wheels/pre-release
openvino==2024.5.0rc2
openvino-tokenizers==2024.5.0rc2
openvino_genai==2024.5.0rc2
auto-gptq>=0.5.1 # for gptq
pillow
torch
transformers>=4.40.0
diffusers>=0.22.0
#optimum is in dependency list of optimum-intel 
git+https://github.com/huggingface/optimum-intel.git@main#egg=optimum-intel
git+https://github.com/openvinotoolkit/nncf.git@develop#egg=nncf
packaging
psutil
timm
tiktoken
onnx<=1.16.1
einops
transformers_stream_generator
bitsandbytes
librosa # For Whisper
